@font-face {
  font-family: Pixel;
  src: url("Pixel\ NES.otf") format("opentype");
}

canvas {
    background-image: url('../../images/vhs-overlay-png.png');
    background-repeat: no-repeat;
    background-size: cover;
}
