body, html {
    height: 100%;
}

.bg {
    background-image: url("../../public/images/vhs-overlay-png.png");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@font-face {
    font-family: customFont;
    src: url("../../public/css/VCR_OSD_MONO_1.001[1].ttf");
}

h1 {
    font-family: customFont;
    color: white;
    text-align: center;
    
}
